--extra-index-url https://pypi.fury.io/dharpa
git+https://github.com/DHARPA-Project/kiara.git@develop#egg=kiara
git+https://github.com/DHARPA-Project/kiara_modules.core.git@develop#egg=kiara_modules.core[all]
git+https://github.com/DHARPA-Project/kiara_modules.language_processing.git@develop#egg=kiara_modules.language_processing[all]
git+https://github.com/DHARPA-Project/kiara_modules.network_analysis.git@develop#egg=kiara_modules.network_analysis[all]
git+https://github.com/frkl-io/kiara.streamlit.git@develop#egg=kiara.streamlit[all]
